# --- Игнорируем специфику Backend (FastAPI в папке backend/) ---
backend/__pycache__/
backend/*.py[cod]
backend/venv/
backend/.venv/
backend/.env

# Next.js
**/.next
**/.next/
front/.next
# --- Игнорируем специфику Frontend (React в папке frontend/) ---
front/node_modules/
front/build/
front/dist/
front/.env.local

# --- Общие правила для корня ---
.env
.DS_Store
.vscode/
.idea/

venv/
__pycache__/
*.pyc
.env
